.login-pf{
    background: none;
}

.login-pf-page {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom, #000000  0%, #140F3F 100%);
}

.login-pf a:hover {
    color: #0099d3;
}

.login-pf-page .card-pf {
    border-radius: 10px;
}

.card-pf {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 500px;
    border-top: 4px solid;
    border-color: #FF6666;
    box-shadow: var(--pf-global--BoxShadow--lg);
}

.pf-c-form__label-text{
    color: #498EB3;
}

.pf-c-form-control{
    border-radius: 20px;
    padding: 22px 30px;
    height: auto;
    font-size: medium;
}

textarea.pf-c-form-control {
	height: auto;
}

.pf-c-form-control:hover{
    border-bottom-width: 3px;
    border-bottom-color: #27C0E3;
}

.pf-c-form-control:focus{
    outline: 0px solid transparent;
    border-radius: 20px;
    border-bottom-width: 3px;
    padding: 22px 30px;
    font-size: medium;
}

.pf-c-form-control[aria-invalid="true"] {
    border-bottom-width: 3px;
    border-bottom-color: #C9190B;
}

.pf-c-button.pf-m-block {
    border: none;
    padding: 10px 10px;
    font-size: medium;
    border-radius: 32px;
    font-family: 'Bungee';
    letter-spacing: 2px;
    color: #ffffff;
    background:  #FF6666;
}

.pf-c-button:hover{
    outline: none;
    background: #ffa0a0 !important;
}

.pf-c-check__label, .pf-c-radio__label {
	font-size: 14px;
}

.pf-c-alert.pf-m-inline {
    margin-bottom: 0.5rem;
    padding: 0.25rem;
    border: solid #ededed;
    border-width: 1px;
    display: -ms-flexbox;
    display: grid;
    -ms-grid-columns: max-content 1fr max-content;
    grid-template-columns:max-content 1fr max-content;
    grid-template-rows: 1fr auto;
}

.pf-c-alert.pf-m-inline::before {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: 0;
    width: 3px;
    content: "";
    background-color: #FFFFFF;
}

.pf-c-alert.pf-m-inline.pf-m-success::before {
    background-color: #92D400;
}

.pf-c-alert.pf-m-inline.pf-m-danger::before {
    background-color: #C9190B;
}

.pf-c-alert.pf-m-inline.pf-m-warning::before {
    background-color: #F0AB00;
}

.pf-c-alert.pf-m-inline .pf-c-alert__icon {
    padding: 1rem 0.5rem 1rem 1rem;
    font-size: 16px;
}

.pf-c-alert.pf-m-success .pf-c-alert__icon {
    color: #92D400;
}

.pf-c-alert.pf-m-success .pf-c-alert__title {
    color: #486B00;
}

.pf-c-alert.pf-m-danger .pf-c-alert__icon {
    color: #C9190B;
}

.pf-c-alert.pf-m-danger .pf-c-alert__title {
    color: #A30000;
}

.pf-c-alert.pf-m-warning .pf-c-alert__icon {
    color: #F0AB00;
}

.pf-c-alert.pf-m-warning .pf-c-alert__title {
    color: #795600;
}

.pf-c-alert__title {
    font-size: 14px;
    padding: 5px 8px;
}

.pf-c-button{
    padding:0.375rem 1rem;
}

/*CONTENT PROPERTIES*/

#kc-header {
    overflow: visible;
}

h1#kc-page-title {
    margin-top: 10px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Bungee';
    color: #000000;
}

#kc-header-wrapper {
    background: url("../img/EVOKE_logo_white.png") no-repeat center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-size: contain;
}

#kc-content {
    width: 100%;
    font-family: 'Roboto';
    font-size: medium;
}

#kc-a-forgot{
    color: #498EB3;
}

#kc-locale ul {
    background-color: #FFF;
    display: none;
    top: 20px;
    min-width: 100px;
    padding: 0;
}

#kc-locale-dropdown{
    display: inline-block;
    margin-bottom: 10px;
}

#kc-locale-dropdown:hover ul {
    display:block;
}

#kc-locale-dropdown a {
    color: #498EB3;
    text-align: right;
    font-size: 14px;
}

a#kc-current-locale-link::after {
    content: "\2c5";
    margin-left: 4px;
}

#kc-attempted-username {
    font-size: 20px;
    font-family: inherit;
    font-weight: normal;
    padding-right: 10px;
}

#kc-username {
    text-align: center;
    margin-bottom:-10px;
}

#kc-webauthn-settings-form {
    padding-top: 8px;
}

#kc-form-webauthn .select-auth-box-parent {
    pointer-events: none;
}

#kc-form-webauthn .select-auth-box-desc {
    color: var(--pf-global--palette--black-600);
}

#kc-form-webauthn .select-auth-box-headline {
    color: var(--pf-global--Color--300);
}

#kc-form-webauthn .select-auth-box-icon {
    flex: 0 0 3em;
}

#kc-form-webauthn .select-auth-box-icon-properties {
    margin-top: 10px;
    font-size: 1.8em;
}

#kc-form-webauthn .select-auth-box-icon-properties.unknown-transport-class {
    margin-top: 3px;
}

#kc-form-webauthn .pf-l-stack__item {
    margin: -1px 0;
}

#kc-content-wrapper {
    margin-top: 20px;
}

#kc-form-wrapper {
    margin-top: 10px;
}

#kc-info {
    margin: 20px -40px -30px;
}

#kc-info-wrapper {
    font-size: medium;
    padding: 15px 35px;
    color: #FFFFFF;
    background-color: #4F536A;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

#kc-form-options span {
    display: block;
}

#kc-form-options .checkbox {
    margin-top: 0;
    color: #72767b;
}

#kc-terms-text {
    margin-bottom: 20px;
}

#kc-form-buttons {
    margin-top: 20px;
}

#kc-form-login div.form-group:last-of-type,
#kc-register-form div.form-group:last-of-type,
#kc-update-profile-form div.form-group:last-of-type {
    margin-bottom: 0px;
}

/* TOTP */

.required {
    color: #A30000;
}

/*MEDIA*/

@media (min-width: 768px) {
    #kc-container-wrapper {
        position: absolute;
        width: 100%;
    }

    .login-pf .container {
        padding-right: 80px;
    }

    #kc-locale {
        position: relative;
        text-align: right;
        z-index: 9999;
    }
}

@media (max-width: 767px) {
    #kc-locale {
        position: relative;
        text-align: right;
        z-index: 9999;
        margin: 10px;
    }
}

@media (min-height: 646px) {
    #kc-container-wrapper {
        bottom: 12%;
    }
}

@media (max-height: 645px) {
    #kc-container-wrapper {
        padding-top: 50px;
        top: 20%;
    }
}

/*PHONE*/
@media (max-width: 767px) {
    .login-pf-page .card-pf {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 0;
    }

    #kc-info-wrapper{
        width: 90%;
        box-shadow: 0 0;
        margin: auto;
    }

    .kc-social-grid {
        grid-column-end: 12;
        --pf-l-grid__item--GridColumnEnd: span 12;
    }

    .kc-social-grid .kc-social-icon-text {
        left: -15px;
    }
}