.login-pf{
    background: none;
}

.pf-c-form-control{
    border-radius: 20px;
    padding: 10px 10px;
    font-size: medium;
}

label{
    color: #0099d3;
}

.pf-c-button.pf-m-block {
    border: none;
    padding: 10px 10px;
    font-size: medium;
    color: black;
    border-radius: 32px;
    font-family: 'Roboto';
    background:  #FF6666;
}

.pf-c-button:hover{
    background: #ffa0a0 !important;
    outline: none;
}

.login-pf body {
    background: linear-gradient(to bottom, #140F3F  0%, #9933FF 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.login-pf-page .card-pf {
    border-radius: 10px;
}

textarea.pf-c-form-control {
	height: auto;
}

.pf-c-form-control:hover, .pf-c-form-control:focus {
    border-bottom-color: #27C0E3;
    border-bottom-width: 3px;
}

.pf-c-form-control[aria-invalid="true"] {
    border-bottom-color: #C9190B;
    border-bottom-width: 3px;
}

.pf-c-check__label, .pf-c-radio__label {
	font-size: 14px;
}

.pf-c-alert.pf-m-inline {
    margin-bottom: 0.5rem;
    padding: 0.25rem;
    border: solid #ededed;
    border-width: 1px;
    display: -ms-flexbox;
    display: grid;
    -ms-grid-columns: max-content 1fr max-content;
    grid-template-columns:max-content 1fr max-content;
    grid-template-rows: 1fr auto;
}

.pf-c-alert.pf-m-inline::before {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: 0;
    width: 3px;
    content: "";
    background-color: #FFFFFF;
}

.pf-c-alert.pf-m-inline.pf-m-success::before {
    background-color: #92D400;
}

.pf-c-alert.pf-m-inline.pf-m-danger::before {
    background-color: #C9190B;
}

.pf-c-alert.pf-m-inline.pf-m-warning::before {
    background-color: #F0AB00;
}

.pf-c-alert.pf-m-inline .pf-c-alert__icon {
    padding: 1rem 0.5rem 1rem 1rem;
    font-size: 16px;
}

.pf-c-alert.pf-m-success .pf-c-alert__icon {
    color: #92D400;
}

.pf-c-alert.pf-m-success .pf-c-alert__title {
    color: #486B00;
}

.pf-c-alert.pf-m-danger .pf-c-alert__icon {
    color: #C9190B;
}

.pf-c-alert.pf-m-danger .pf-c-alert__title {
    color: #A30000;
}

.pf-c-alert.pf-m-warning .pf-c-alert__icon {
    color: #F0AB00;
}

.pf-c-alert.pf-m-warning .pf-c-alert__title {
    color: #795600;
}

.pf-c-alert__title {
    font-size: 14px;
    padding: 5px 8px;
}

.pf-c-button{
    padding:0.375rem 1rem;
}

.pf-m-primary {
    color: #FFFFFF;
    background-color: #0066CC;
}

.pf-m-primary:hover {
    background-color: #004080;
}

.pf-c-button.pf-m-control {
    border: solid 1px;
}

h1#kc-page-title {
    margin-top: 10px;
}

/*dropdown*/

#kc-locale ul {
    background-color: #FFF;
    display: none;
    top: 20px;
    min-width: 100px;
    padding: 0;
}

#kc-locale-dropdown{
    display: inline-block;
}

#kc-locale-dropdown:hover ul {
    display:block;
}

#kc-locale-dropdown a {
    color: #6A6E73;
    text-align: right;
    font-size: 14px;
}

a#kc-current-locale-link::after {
    content: "\2c5";
    margin-left: 4px;
}

.login-pf a:hover {
    color: #0099d3;
}

/*content properties*/

#kc-header {
    color: #ffffff;
    overflow: visible;
    white-space: nowrap;
    font-family: 'Bungee';
    margin: 0;
    text-shadow: 1px 1px 15px #0bbcc9;
}

#kc-page-title {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Bungee';
    color: #000000;
}

#kc-header-wrapper {
    font-size: 50px;
    line-height: 1.2em;
    padding: 62px 10px 20px;
    white-space: normal;
}

#kc-content {
    width: 100%;
    font-family: 'Roboto';
    font-size: medium;
}

#kc-attempted-username {
    font-size: 20px;
    font-family: inherit;
    font-weight: normal;
    padding-right: 10px;
}

#kc-username {
    text-align: center;
    margin-bottom:-10px;
}

#kc-webauthn-settings-form {
    padding-top: 8px;
}

#kc-form-webauthn .select-auth-box-parent {
    pointer-events: none;
}

#kc-form-webauthn .select-auth-box-desc {
    color: var(--pf-global--palette--black-600);
}

#kc-form-webauthn .select-auth-box-headline {
    color: var(--pf-global--Color--300);
}

#kc-form-webauthn .select-auth-box-icon {
    flex: 0 0 3em;
}

#kc-form-webauthn .select-auth-box-icon-properties {
    margin-top: 10px;
    font-size: 1.8em;
}

#kc-form-webauthn .select-auth-box-icon-properties.unknown-transport-class {
    margin-top: 3px;
}

#kc-form-webauthn .pf-l-stack__item {
    margin: -1px 0;
}

#kc-content-wrapper {
    margin-top: 20px;
}

#kc-form-wrapper {
    margin-top: 10px;
}

#kc-info {
    margin: 20px -40px -30px;
}

#kc-info-wrapper {
    font-size: 13px;
    padding: 15px 35px;
    background-color: #F0F0F0;
}

#kc-form-options span {
    display: block;
}

#kc-form-options .checkbox {
    margin-top: 0;
    color: #72767b;
}

#kc-terms-text {
    margin-bottom: 20px;
}

/* TOTP */

.required {
    color: #A30000;
}

/*MEDIA*/

@media (min-width: 768px) {
    #kc-container-wrapper {
        position: absolute;
        width: 100%;
    }

    .login-pf .container {
        padding-right: 80px;
    }

    #kc-locale {
        position: relative;
        text-align: right;
        z-index: 9999;
    }
}

@media (max-width: 767px) {
    #kc-locale {
        position: relative;
        text-align: right;
        z-index: 9999;
        margin: 10px;
    }
}

@media (min-height: 646px) {
    #kc-container-wrapper {
        bottom: 12%;
    }
}

@media (max-height: 645px) {
    #kc-container-wrapper {
        padding-top: 50px;
        top: 20%;
    }
}

.card-pf form.form-actions .btn {
    float: right;
    margin-left: 10px;
}

#kc-form-buttons {
    margin-top: 20px;
}

.login-pf-page .login-pf-brand {
    margin-top: 20px;
    max-width: 360px;
    width: 40%;
}

/* Internet Explorer 11 compatibility workaround for select-authenticator screen */
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .select-auth-box-parent {
        border-top: 1px solid #f0f0f0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        cursor: pointer;
    }

    .select-auth-box-headline {
        font-size: 16px;
        color: #06c;
        font-weight: bold;
    }

    .select-auth-box-desc {
        font-size: 14px;
    }

    .pf-l-stack {
        flex-basis: 100%;
    }
}
/* End of IE11 workaround for select-authenticator screen */

.select-auth-box-arrow{
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.select-auth-box-icon{
    display: flex;
    flex: 0 0 2em;
    justify-content: center;
    margin-right: 1rem;
    margin-left: 3rem;
}

.select-auth-box-parent{
    border-top: 1px solid var(--pf-global--palette--black-200);
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
}

.select-auth-box-parent:hover{
    background-color: #f7f8f8;
}

.select-auth-container {
    padding-bottom: 0px !important;
}

.select-auth-box-headline {
    font-size: var(--pf-global--FontSize--md);
    color: var(--pf-global--primary-color--100);
    font-weight: bold;
}

.select-auth-box-desc {
    font-size: var(--pf-global--FontSize--sm);
}

.select-auth-box-paragraph {
    text-align: center;
    font-size: var(--pf-global--FontSize--md);
    margin-bottom: 5px;
}

.card-pf {
    margin: 0 auto;
    box-shadow: var(--pf-global--BoxShadow--lg);
    padding: 0 20px;
    max-width: 500px;
    border-top: 4px solid;
    border-color: #FF6666;
}

/*phone*/
@media (max-width: 767px) {
    .login-pf-page .card-pf {
        width: 95%;
        box-shadow: 0 0;
    }

    .kc-social-grid {
        grid-column-end: 12;
        --pf-l-grid__item--GridColumnEnd: span 12;
    }

    .kc-social-grid .kc-social-icon-text {
        left: -15px;
    }
}

.login-pf-page .login-pf-signup {
    font-size: 15px;
    color: #72767b;
}

#kc-content-wrapper .row {
    margin-left: 0;
    margin-right: 0;
}

.login-pf-page.login-pf-page-accounts {
    margin-left: auto;
    margin-right: auto;
}

.login-pf-page .btn-primary {
    margin-top: 0;
}

.login-pf-page .list-view-pf .list-group-item {
    border-bottom: 1px solid #ededed;
}

.login-pf-page .list-view-pf-description {
    width: 100%;
}

#kc-form-login div.form-group:last-of-type,
#kc-register-form div.form-group:last-of-type,
#kc-update-profile-form div.form-group:last-of-type {
    margin-bottom: 0px;
}

.no-bottom-margin {
    margin-bottom: 0;
}

#kc-back {
    margin-top: 5px;
}
